﻿<div style="width:1000px;height: 1000px; padding:1em; font-size: 2em">

    <h1>The Future Is Now</h1>

    <ul>
        <li>
            Hundreds of JS frameworks. Notable:
            <ul>
                <li>KnockoutJS - Microsoft</li>
                <li>ReactJS - Facebook</li>
                <li>AngularJS - Google</li>
                <li>...</li>
            </ul>
        </li>
        <li>
            Web-Components
            <ul>
                <li>Polymer - Google</li>
                <li>Knockout (beta)</li>
            </ul>
        </li>
        <li>
            Languages
            <ul>
                <li>Typescript - Microsoft</li>
                <li>Dart - Google</li>
                <li>GWT - Google</li>
                <li>...</li>
            </ul>
        </li>

    </ul>


</div>