﻿<div style="width:1000px;height: 1000px;padding:1em;  color: darkslategrey; font-size: 1.7em; overflow-y:auto">

    <h1 style="margin-top: 0;padding-top: 0">The "Web" Scales</h1>
    <h1>The "Web" Evlolves</h1>
    <ul style="list-style-type: none;">
        <li style="background-color: lightpink;padding: 1em;margin: 1em;">
            <img style="height: 8em; vertical-align: middle" src="slides/images/ceil.png" />
            What it was used for in 1999
        </li>
        <li style="background-color: lightpink;padding: 1em;margin: 1em;">
            <img style="height: 12em;vertical-align: middle" src="slides/images/frown.jpeg" />
            What it's used for now
           
        </li>

    </ul>

</div>