﻿body {
    font-family: 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;
}

.presents-slide {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 2s, ease-in-out 0ms;
    -moz-transition: all 2s, ease-in-out 0ms;
    -ms-transition: all 2s, ease-in-out 0ms;
    -o-transition: all 2s, ease-in-out 0ms;
    transition: all 2s, ease-in-out 0ms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#content {
    position: absolute;
    -webkit-transition: all 2000ms, ease-in-out 1000ms;
    -moz-transition: all 2000ms, ease-in-out 1000ms;
    -ms-transition: all 2000ms, ease-in-out 1000ms;
    -o-transition: all 2000ms, ease-in-out 1000ms;
    transition: all 2000ms, ease-in-out 1000ms;
    top: 50%;
    left: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: left top 0px;
    -moz-transform-origin: left top 0px;
    -ms-transform-origin: left top 0px;
    -o-transform-origin: left top 0px;
    transform-origin: left top 0px;
}

    #content > .camera {
        position: absolute;
        -webkit-transform-origin: left top 0px;
        -moz-transform-origin: left top 0px;
        -ms-transform-origin: left top 0px;
        -o-transform-origin: left top 0px;
        transform-origin: left top 0px;
        -webkit-transition: all 2000ms, ease-in-out 1000ms;
        -moz-transition: all 2000ms, ease-in-out 1000ms;
        -ms-transition: all 2000ms, ease-in-out 1000ms;
        -o-transition: all 2000ms, ease-in-out 1000ms;
        transition: all 2000ms, ease-in-out 1000ms;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

body {
    height: 100%;
    overflow: hidden;
}

/*.presents-slide pre {
    border: solid thin gray;
    background-color: lightgray;
}*/
.presents-slide > h1 {
    margin-top: 0;
}

.presents-slide .dialog {
    height: 4em;
}

    .presents-slide .dialog img {
        height: 4em;
        float: left;
        margin-top: -1em;
    }

.presents-slide .dialog {
    vertical-align: middle;
}

    .presents-slide .dialog .text {
        float: left;
        font-size: 2em;
    }


    @font-face {
    font-family: Monaco;
    src: url(lib/font/monaco.ttf);
}