﻿<div style="width:1000px;height: 1000px;padding:1em;font-size: 1.5em;  overflow-y:auto">
    <section class="dialog">
        <img src="slides/images/designer.png" />
        <div class="text">"Here's what that chat app should look like"</div>
    </section>
    <h3 style="font-size: 2em;">ಠ_ಠ</h3>
    <pre>
    <code data-language="html">
        &lt;ul id="log">
            &lt;li&gt;
                &lt;div span="avatar"&gt;&lt;img /&gt;&lt;/div&gt;
                &lt;div class="message"&gt;&lt;/div&gt;
                &lt;div class="other"&gt;&lt;/div&gt;
                &lt;div class="timestamp"&gt;&lt;/div&gt;
                &lt;div class="ipaddress"&gt;&lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        </code>
    </pre>

    <pre>
    <code data-language="javascript">
        ..
        messages.forEach(function(m){ $log.append(buildLogLine(m))})
        ..
        function buildLogLine(message){
            var s = "&lt;div span='avatar'&gt;&lt;img src="+message.imagesrc
            ...
            return s;
        }
        </code>
    </pre>

    <pre>
    <code data-language="css">
            #log{margin-left:10px;}
            #log li:even-child{ background-color:gray;  }
        </code>    
    </pre>

    <h3>Or maybe you even discover ...</h3>
</div>