﻿<div style="width:1000px;height: 1000px;padding:1em;overflow-y:auto">
    <h1>Templating Handlebars JS</h1>
   

    <pre style="font-size:1.3em;">
    <code data-language="html">
    &lt;script id="entry-template" type="text/x-handlebars-template"&gt;
        &lt;ul id="log">
        {{#each messages}}
            &lt;li&gt;
                &lt;div span="avatar"&gt;&lt;img src="{{avatarImage}}"/&gt;&lt;/div&gt;
                &lt;div class="message"&gt;{{message}}&lt;/div&gt;
                &lt;div class="other"&gt;{{other}}&lt;/div&gt;
                &lt;div class="timestamp"&gt;{{#cleanDate time}}&lt;/div&gt;
                &lt;div class="ipaddress"&gt;{{ip}}&lt;/div&gt;
            &lt;/li&gt;
        {{/each}}
        &lt;/ul&gt;
    &lt;/script&gt;
        </code>
    </pre>
    
    <pre style="font-size:1.3em;">
    <code data-language="javascript">
    var source   = $("#entry-template").html();
    var template = Handlebars.compile(source);
    var context = {
        messages:[
            {avatarImage:'bob.gif',message:'hi guys', other:'', time:new Date(), ip:"192.168.1.1"}
        ]
    };
    var res = template(context);
        </code>
    </pre>
</div>