﻿<div style="width:1000px;height: 1000px;padding:1em;  overflow-y:auto; font-size: 1.2em;">
    <h1>Lesson Learned</h1>

    <h2>Don't HARD - CODE your UI.</h2>

    <div>
       
        <pre style="font-size: 1.5em;">
    var btn = addButton({Text:"bob"});
    var layout = cardLayout(10);
    layout.addWidget(btn);
        </pre>
        <h3>Declare your UI </h3>
        <h3>Then get good at generating your declarations</h3>
        <pre style="font-size: 1.3em">
            cardlayout
                button -text 'bob'
        </pre>
    </div>
    

    <h3>Who else learned this lesson:</h3>
    <ul>
        <li>
            XAML / C#
        </li>
        <li>JavaFX / Java</li>
        <li>QML / QT</li>
        <li>
            XML / Android
        </li>
        <li>XUL / Mozilla</li>
        <li>HTML / W3C</li>
        <li>
            <div>
                AND 1000's of Javascript frameworks
            </div>
        </li>
    </ul>

</div>