﻿<div style="width:1000px;height: 1000px;padding:1em;font-size: 1.5em;  overflow-y:auto">
    <section class="dialog">
        <img src="slides/images/boss.png" />
        <div class="text">"Build me <span style="font-size: xx-large">any</span> web chat application"</div>
    </section>
    <h3>( ͡° ͜ʖ ͡°)   - No problem</h3>
    <pre>
    <code data-language="html">
        &lt;ul id="log"&gt;
		    ...
            &lt;li&gt;
            &lt;/li&gt;
        &lt;ul&gt;
        </code>
    </pre>

    <pre>
    <code data-language="javascript">
        var server = {}
	    ...
	    server.send("looks good");
	    server.getmessagessince(lastCheck).done(function(data){
		    var messages = JSON.parse(data);
		    var $log = $("#log");
		    messages.forEach(function(m){ $log.append("&lt;li&gt;"+m+"&lt;/li&gt;")})
	    });
        </code>
    </pre>

    <pre>
    <code data-language="css">
        #log{margin-left:10px;}
        #log li:even-child{ background-color:gray;  }
        </code>    
    </pre>
</div>