﻿<div style="width:1000px;height: 1000px; font-size: 1.7em;padding:1em; overflow-y:auto">
    <h1>Lesson's Learned</h1>
    <h2>Dont hack your styles, GENERATE THEM</h2>
    <pre>
    <code data-language="css">
/*USE A TOOL LIKE LESS*/
#log{
    li{
        .premium{font-weight:bold}
        .regular{font-style:italics}
        &.tuesdays{
            color:purple;
        }
    }   
}
        </code>    
    </pre>
    <h3>Who else learned this lesson:</h3>
    <ul>
        <li>
            LESS
        </li>
        <li>
            SACSS
        </li>
        <li>JQueryUI Themes</li>
    </ul>
</div>