﻿<div style="width:1000px;height: 1000px;padding:1em;font-size: 1.5em;  overflow-y:auto; font-size: 1.3em">
    <section class="dialog" style="height: auto">
        <img src="slides/images/designer.png" />
        <div class="text">
            "We have a few more requirements"
        </div>
    </section>


    <div style="font-size: 1.5em; clear: both;margin-top: 3em">
        <ul>
            <li>"Premium Chat members get to be bold"</li>
            <li>"Regular chat members get to be italics"</li>
            <li>"Make the messages float in from the left"</li>
            <li>"Chat members on tuesday are purple"</li>
            <li>"Make the username blink"</li>
            <li>...</li>
        </ul>
    </div>
    <h3 style="font-size: 3em">ಠ_ಠ</h3>
    
</div>