﻿<div style="width:1000px;font-size: 1.5em;height: 1000px;padding:1em;  overflow-y:auto;">
    <section class="dialog" style="height: auto">
        <img src="slides/images/designer.png" />
        <div class="text">
            "Premium Chat members get to be bold"
        </div>
    </section>

    <h3 style="clear: left;margin-top: 3em;font-size:2em;">
        ↁ_ↁ - I can do that, no problem
    </h3>
    <pre style="font-size:1.5em;">
    <code data-language="css">
/* So Begin the HACKS */
#log li .other[data-premium='true']{
    font-weight:bold;
}
/*...100 unmaintainable lines later*/
                        
        </code>    
    </pre>
</div>