﻿<div style="width:1000px;height: 1000px;padding:1em;font-size: 2em;  overflow-y:auto">
    <section class="dialog" style="height: auto; margin-top: 1em;">
        <img src="slides/images/designer.png" />
        <div class="text">
            "Please fix bug X"
        </div>
    </section>

    <h3 style="clear: left">
        ↁ_ↁ - i can do that, no problem
    </h3>

    <section class="dialog" style="height: auto;margin-top: 12em;">
        <img src="slides/images/designer.png" />
        <div class="text">
            "In all 10 applications"
        </div>
    </section>

    <h3 style="clear: left; font-size: 5em;">
        ಠ_ಠ
    </h3>
</div>