﻿<div style="width:1000px;height: 1000px;padding:1em;  overflow-y:auto; font-size: 1.3em">
    <section class="dialog">
        <img src="slides/images/boss.png" />
        <div class="text">"I want this on 10 different web pages"</div>
    </section>
    <section class="dialog">
        <img src="slides/images/boss.png" />
        <div class="text" style="font-size: 1.3em">"Bob join's the team tommorow make sure he can add features"</div>
    </section>
    
    <div style="font-size: 3em;">
        <h4 style="clear: left; margin-top: 2em">
            ↁ_ↁ
        </h4>
        <ul>
            <li>Zip File + Documentation?</li>
            
            <li>Source Control?</li>

            
        </ul>
    </div>
    <h1>What kinds strategies can solve this problem?</h1>
</div>