﻿<div style="width:2500px;height: 800px;padding:1em;">
    <h1 style="margin-top: 1em;font-size: 3em;"><img src="slides/images/lesson.png" style="width: 100px;vertical-align: middle"/>Practical</h1>
    
</div>