﻿<div style="width:1000px;height: 1000px;padding:1em; border:solid thin lightgray; font-size: 2em; overflow-y:auto">
    <div style="text-align: center;padding-top: 25%">
        <img src="slides/images/no.jpg" />
    </div>
</div>