﻿<div style="width:1000px;height: 1000px; padding:1em; font-size: 2em">

    <h1>Given</h1>
  
    <ul>
        <li>
            n - Server Languages (C#, Ruby, Java, Python, ...)
        </li>
        <li>
            2 - Declarative Languages
            <ul>
                <li>
                    HTML
                    <ul>
                        <li>To "declare" document structure and content</li>
                    </ul>
                </li>
                <li>
                    CSS
                    <ul>
                        <li>To "declare" document style</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            1 - Functional Language 
            <ul>
                <li>Javascript / Ecmascript</li>
                <ul>
                    <li>To fill in "missing" functionality</li>
                </ul>
            </ul>
        </li>
    </ul>

</div>