﻿<div style="width:1000px;height: 1000px;padding:1em;font-size: 2em; border:solid thin lightgray;">
    <h1>Abstraction</h1>
    <ul>
        <li>Server Code</li>
        <li>
            Object oriented
            <ul>
                <li>
                    Class WelcomePage extends Page{...}
                </li>
            </ul>
        </li><li>
    Good Separation of Concerns
    <ul>
        <li>Model - View - Controller</li>
    </ul>
</li>

       
    </ul>
</div>