﻿<div style="width:1000px;height: 1000px;padding:1em; font-size: 2em; border:solid thin lightgray;">
    <h1><img src="slides/images/terminal.png" style="height: 2em;vertical-align: middle" /> Desktop</h1>

    <ul>
        <li>
            UI Toolkits
            <ul>

                <li>
                    Windows Forms
                </li>
                <li>
                    Java Swing
                </li>
            </ul>
        </li>

        <li>
            Layout Managers
            <ul>
                <li>manager.addWidget(w);</li>
            </ul>
        </li>
        <li>
            Patterns
            <ul>
                <li>Model - View - Controller</li>
            </ul>
            
        </li>
    </ul>
</div>