﻿<div style="width:1000px;height: 1000px;padding:1em; border:solid thin lightgray;font-size: 1.5em">
    <h1>Encapsulation</h1>
    <ul>
        <li>IFrame</li>
        <li>
            Page Lifecycles
            <ul>
                <li>Good: Abstracted away HTML and Client/ Server Interaction</li>
                <li>BAD: Abstracted away HTML and Client/ Server Interaction</li>
                <li>BAD: Mixed languages</li>
                <li>Postback's in the MB</li>
            </ul>
            <pre>
            <code data-language="html">
            &lt;form id="form1" runat="server"&gt;
                &lt;div&gt;
                &lt;asp:TextBox ID="TextBox1" runat="server"&gt; &lt;/asp:TextBox&gt;
                &lt;asp:Button ID="Button1" runat="server" Text="Enter..." onclick="Button1_Click" /&gt;
                       
                &lt;h3&gt; Results: &lt;/h3&gt;
                &lt;span runat="server" id="changed_text" /&gt;
                &lt;/div&gt;
            &lt;/form&gt;
                </code>
            </pre>

        </li>
        <li>
            Templates
            <ul>
                <li>Good: Made it EASY do to what people knew</li>
                <li>BAD: Burden on server to generate code</li>
                <li>BAD: Mixing Server/Client Code</li>
            </ul>
            <pre>
            <code data-language="html">
        @{
            var greeting = "Welcome to our site!";
            var weekDay = DateTime.Now.DayOfWeek;
            var greetingMessage = greeting + " Here in Huston it is: " + weekDay;
        }
        &lt;p&gt;The greeting is: @greetingMessage&lt;/p&gt;
                </code>
            </pre>
        </li>
    </ul>
</div>