﻿<div style="width:1000px;height: 1000px;padding:1em;font-size: 1.5em; border:solid thin lightgray;">
    <h1>Abstraction</h1>
    <ul>
        <li>Client Code &lt;--- AJAX --&gt; Server Code </li>
        <li>
            Server Code
            <ul>
                <li>
                    REST
                    <ul>
                        <li>Using HTTP METHODS to access RESOURCES by ResourceLocation</li>
                        <li>EX: <span style="color:lightseagreen">GET: www.bob.com/users/user33</span></li>
                        <li>EX: <span style="color:lightseagreen">DELETE: www.bob.com/users/user33</span></li>
                    </ul>
                </li>
                <li>
                    Remote Procedure Calls (RPC)
                    <ul>
                        <li>Using Routes to make calls</li>
                        <li>EX: <span style="color:lightseagreen">www.bob.com/users/getuserbyid/33</span></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Client Code
            <ul>
                <li>
                    Modules - Load JS from JS on demand.
                </li>
                <li>
                    GENERATE Javascript
                    <ul>
                        <li>CofeeScript -&gt; -> JS</li>
                        <li>TypeScript -&gt; -> JS</li>
                        <li>...</li>
                    </ul>
                </li>
                <li>
                    Treat Javascript as BYTE CODE
                    <ul>
                        <li>C# -&gt; IL -&gt; JSIL -&gt; JS</li>
                        <li>C/C++ -&gt; GCC -&gt; Emscripten -&gt; JS</li>
                        <li>...</li>
                    </ul>
                </li>
            </ul>
        </li>
        
    </ul>
</div>