﻿<div style="width:1000px;height: 1000px;padding:1em; font-size: 1.5em; border:solid thin lightgray;">
    <h1><img src="slides/images/client.png" style="height: 2em;vertical-align: middle" /> Client Server</h1>
    <div style="float: left; width: 45%; height: 90%">
        <h3>Server</h3>
        <h5>Responsibilities</h5>
        <ul>
            <li>
                Serve Static Files
            </li>
            <li>
                Do Server Logic
            </li>
        </ul>
    </div>
    <div style="float: left; width: 45%; height: 90%">
        <h3>Client</h3>
        <h5>Responsibilities</h5>
        <ul>
            <li>
                Make HTML<br />
                <img src="slides/images/html.png" style="height: 4em" />
            </li>
            <li>
                Show UI<br />
                <img src="slides/images/yahoo.png" style="height: 4em;" />
            </li>
            <li>
                Call The Server (AJAX)
            </li>
            <li>
                Maintain Persistent Connection (WebSocket)
            </li>
            <li>
                Rich interaction through JavaScript
                <ul>
                    <li>Limited Hardware access</li>
                    <li>Video</li>
                    <li>Sound</li>
                    <li>Camera</li>
                </ul>
            </li>
        </ul>
    </div>

    
</div>