﻿<div style="width:1000px;height: 1000px;padding:1em; font-size: 2em; border:solid thin lightgray;">
    <h1><img src="slides/images/terminal.png" style="height: 2em;vertical-align: middle" /> Desktop</h1>

    <ul>
        <li>
            Declarative UI
            <ul>
                <li>
                    XAML
                </li>
                <li>
                    JavaFX
                </li>
                <li>
                    QML
                </li>
            </ul>
        </li>

        <li>
            Model - View - ViewModel (MVVM)
            <ul>
                <li>CODE &lt;--- MAGIC ---&gt; UserInterace</li>
            </ul>
        </li>

        <li>
            Model - View - Controller
        </li>
        
        <li>
            Apps in JS
            
            <ul>
                <li>
                    PhoneGap - bridges to all major mobile OS's
                </li>
                <li>
                    WinRT - WinJS
                    <ul>
                        <li>Xbox + WindowsPhone + Windows 8 + Tablet</li>
                    </ul>
                </li>
            </ul>
            <ul>Chrome + ChromeOS - Offline Apps</ul>
        </li>
    </ul>
</div>