﻿<div style="width:1000px;height: 1000px;padding:1em; border:solid thin lightgray;font-size: 2em">
    <h1>Encapsulation</h1>
    <ul>
        <li>
            Javascript Libraries Provide
            <ul>
                <li>
                    Modules
                </li>
                <li>
                    Templates
                </li>
            </ul>
        </li>
        <li>
            HTML5 Provides More Rich Interaction
            <ul>
                <li>Video</li>
                <li>Audio</li>
                <li>Hardware</li>
                <li>3D</li>
            </ul>
        </li>
        <li>
            Server only provides state
        </li>
        <li>
            Node (V8(Chrome)  JS Engine .exe)
            <ul>
                <li>Server can now be written in SAME LANGUAGE (JS) as UI</li>
                <li>Server / Client can SHARE a code base</li>
                <li>...</li>
            </ul>
        </li>
    </ul>
</div>