﻿<div style="width:1000px;height: 1000px;padding:1em; border:solid thin lightgray;">
    <h1>Future (in-progress) <img src="slides/images/future.png" style="height: 4em;vertical-align: middle" /></h1>
    
</div>