﻿<div style="width:1000px;height: 1000px;padding:1em; border:solid thin lightgray;font-size: 1.5em">
    <h1>Abstraction</h1>
   
    <h4>Ecmascript 6 Classes</h4>
    <pre>
    <code data-language="javascript">
    class View {
        constructor(options) {
            this.model = options.model;
            this.template = options.template;
        }
        render() {
            return _.template(this.template, this.model.toObject());
        }
    }
    
        </code>
        </pre>
    <h4>Custom Css Properties</h4>
    <pre>
<code data-language="css">
    /* blue color scheme */
@document url-prefix("http://example.com/blue-section") {
   html { 
      x-dark-color:   #000077; 
   }
}
/* website styling */
header         { background-color: get(x-dark-color);  }
</code>
</pre>
    

</div>