﻿<div style="width:1000px;height: 1000px;padding:1em; font-size: 1.5em; border:solid thin lightgray;">

    <h1><img src="slides/images/client.png" style="height: 2em;vertical-align: middle" /> Client Server</h1>
    <div style="float: left; width: 45%; height: 90%">
        <h3>Server</h3>

        <h5>Responsibilities</h5>
        <ul>
            <li>
                HTTP 2.0
                <ul>
                    <li>Binary</li>
                    <li>Scheduling</li>
                    <li>Multiple Requests</li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="float: left; width: 45%; height: 90%">
        <h3>Client</h3>
        <h5>Responsibilities</h5>
        <ul>
            <li>
                ServiceWorker - allows for JS to be your proxy to the network
            </li>
        </ul>
    </div>
</div>