﻿<div style="width:1000px;height: 1000px;padding:1em; font-size: 2em; border:solid thin lightgray;">
    <h1><img src="slides/images/terminal.png" style="height: 2em;vertical-align: middle" /> Desktop</h1>

    <ul>
        <li>
            Node-Webkit
            <ul>
                <li>
                    Desktop APPS with UI in Javascript
                    <ul>
                        <li>
                            GitHub ATOM Editor
                        </li>
                        <li>
                            Adobe Brackets Editor
                        </li>
                        <li>...</li>
                    </ul>
                </li>
                <li>
                    Javascript/HTML/CSS -> .EXE
                </li>
            </ul>
        </li>


    </ul>
</div>