﻿<div style="width:1000px;height: 1000px;padding:1em; border:solid thin lightgray;">
    <h1>Encapsulation</h1>

    <div>
        <h3>Ecmascript 6</h3>
        <pre>
        <code data-language="javascript">
    // user.js
        var localVariable = 123;  // not visible outside this file
        export default function User(age) {
            this.age = age;
        }; // can be imported by other files
            
    /*--------------------------------------------------------------*/
    // usage.js
        import User from 'user';
        var x = new User(35);
        </code>
        </pre>

    </div>


    <div>
        <h3>In HTML5 Future: Web-Components</h3>
        <pre style="font-size: 1.4em">
        <code data-language="html">
        &lt;user-object username="bob"&gt;
            &lt;user-message&gt;
                hi I am formatted text
            &lt/user-message&gt;
        &lt;/user-object&gt;
        </code>
        </pre>
    </div>
    
    <div>
        <h3>In HTML5 Future: Scoped CSS</h3>
        <pre style="font-size: 1.4em">
        <code data-language="html">
        &lt;div &gt;
            &lt;style scoped&gt;
               div{background-color:red;}
            &lt/style&gt;
            ...
        &lt;/div&gt;
        </code>
        </pre>
    </div>
</div>