﻿<div style="width:1000px;height: 600px; padding:1em;background-color: rgba(0,0,0,.7);color: white; font-size: 2em">
    <h4 style="float: left">Scaling </h4> <h1 style="margin-top: 0"> Encapsulation <img style="vertical-align: middle; height: 1.5em;" src="slides/images/intersection.png" /></h1>

   
   
    <blockquote style="position:absolute;bottom: 0">It's HOW you scale</blockquote>

</div>