﻿<div style="width:1000px;height: 600px; padding:1em; font-size: 2em">

    <h2> ... How?</h2>
    <ul>
        <li>
            CODE Should Have ... Single Responsibility
        </li>
        <li>
            CODE Should be ... Loosely Coupled
        </li>
        <li>
            CODE Should be ...  Easily Found
        </li>
        <li>
            CODE Should be ...  Hard to Screw UP
        </li>
        <li>
            CODE Should be ...  Easy to Restructure
        </li>
    </ul>


</div>