﻿<div style="width:1000px;height: 800px; padding:1em; font-size: 2em">
    
    <h2> ... WHY?</h2>
    <ul>
        <li>
           Developers > 1
        </li>
        <li>
            Easy to fix
            <ul>
                <li>
                    Fix part by part not a the whole
                </li>
            </ul>
        </li>
        <li>
            So other dev's won't screw it up
            <ul>
                <li>
                    Bad code should ony effect the part and not others
                </li>
            </ul>
        </li>
        <li>
            Incremental Development
            <ul>
                <li>Development without all parts done</li>
            </ul>
        </li>
    </ul>
   

</div>