﻿<div style="width:1000px;height: 600px; padding:1em;background-color: rgba(0,0,0,.7);color: white; font-size: 2em">
    <h1 style="margin-top: 0">
        Evolution of * Web Technologies **
        <span style="font-size: .2em;margin-top: 5em;">* some</span>
        <span style="font-size: .2em;margin-top: 5em;">** as it pertains to softare engineering</span>
    </h1><div>Maxim Fridberg</div>
    <img src="slides/images/Anonymous_evolution_steps.png"/>
    
</div>