﻿<div style="width:800px;height: 600px; padding:1em; font-size: 2em">
    <h1 >Thank You</h1>
    <div>Twitter: @maxfridbe</div>
    <div>Gmail: maxfwork </div>
    <div>Source: https://bitbucket.org/maxfridbe/presentation1/src</div>
    <img src="slides/images/maxlogo.png"/>
    
</div>