﻿<div style="width:1000px;height: 600px; text-align: center; padding:1em;background-color: rgba(0,0,0,.7);color: white; font-size: 2em">
   <img src="Slides/images/psycho.jpg"/>
    <blockquote style="position:absolute;bottom: 0"> "Always code as if the person who ends up maintaining your code is a violent psychopath who knows where you live."</blockquote>
</div>