﻿<div style="width:1000px;height: 600px; padding:1em;background-color: rgba(0,0,0,.7);color: white; font-size: 2em">
    <h4 style="float: left">Scaling </h4><h1 style="margin-top: 0"> Abstraction <img style="vertical-align: middle; float: right; height: 3em;" src="slides/images/abstraction.png" /></h1>
    <blockquote style="position:absolute;bottom: 0">“Give me a place to stand and with a lever I will move the whole world.” - Archimedes</blockquote>
   
   

</div>