﻿<div style="width:1000px;height: 600px; padding:1em; font-size: 2em">
   
    <h2> ... How?</h2>
    <ul>
        <li>
            Data Modelling - Structure
        </li>
        <li>
            Think in Layers - Relationships
        </li>
        <li>
            Single Responsibility - Implementation
        </li>    
    </ul>
   
    <h2>... Tools</h2>
    <ul>
        <li>
            Object Oriented (Makes Encapsulation Easier)
        </li>
        <li>
            Functional
        </li>
        <li>
            Pick the "right" abstraction.  EX HTTP
        </li>
        <li>
            ...
        </li>
    </ul>
</div>