﻿<div style="width:1000px;height: 800px; padding:1em; font-size: 2em">

    <h2> ... WHY?</h2>
    <ul>
        <li>
            Reusable
            <ul>
                <li>Write Less Code</li>
            </ul>
        </li>
        <li>
            Computer Science (Reduction)
            <ul>
                <li>Breaking down a problem into concepts</li>
            </ul>
        </li>
        <li>
            Makes code readable
            <ul>
                <li>c = 3.14 * r * r</li>
                <li>c = Math.Pi * Circle.Radius * Circle.Radius</li>
            </ul>
        </li>

    </ul>


</div>