﻿<div style="width:1000px;height: 1000px; padding:1em; font-size: 1.5em">

    <h2> ... How?</h2>
    <div>
        <section>
            <h3>Hardware </h3>
            <ul>
                <li>Add More Hardware</li>
                <li>Have expansion plans</li>
            </ul>
        </section>
        <section>
            <h3>Server Side </h3>
            <ul>
                <li>Change software Such That (Server > 1) (Distribute)</li>
                <li>Optimize DB calls/ logic /threading</li>
            </ul>
        </section>
        <section>
            <h3>Database </h3>
            <ul>
                <li>Distribute - Add more db's</li>
            </ul>
        </section>
        
        <section>
            <h3>Client Side </h3>
            <img src="slides/images/tumbleweed.jpg" style="width: 500px"/>
        </section>
    </div>
    

</div>