﻿<div style="width:1000px;height: 600px; padding:1em;background-color: rgba(0,0,0,.7);color: white; font-size: 2em">
    <h1 style="margin-top: 0;">Scaling <img src="slides/images/fullscreen.png" style="height: 2em;vertical-align: middle" /></h1>
  
   

</div>