﻿<div style="width:1000px;height: 800px; padding:1em; font-size: 2em">
    
    <h2> ... WHY?</h2>
    <ul>
        <li>
            if( Details.HasChanged() || Requirements.HasChanged())
            <ul>
                <li>How quickly can you change your code?</li>
            </ul>
        </li>
        <li>
            if( Developers.Count() > 1)
            <ul>
                <li>How easy is it for new Developers to write with you?</li>
            </ul>
        </li>
        <li>
            Application Transforms  (Calc != EXCEL)
            <ul>
                <li>How quickly can change the ENTIRE App?</li>
            </ul>
        </li>
       
    </ul>
    <h3>
        if( !Code.IsScalable() == THROW_AWAY_CODE )
    </h3>

</div>